.container
  .row
    .span3.bs-docs-sidebar
      &nbsp;
      = render 'shared/navigation', class_name: 'nav-list affix bs-docs-sidenav'

    .span6.center
      .page-header
        %h1
          Protsahan
          %small (n). Encouragement ...
        %p.caption
          A social enterprise focusing on creative education or skill development by empowering children
          &amp; women at grassroot communities using the five pillars of creativity: Design, Cinema, Stories,
          Photography &amp; Art

      #banner.carousel.slide{data: {interval: 2000}}
        .carousel-inner
          %img.item.active{src: 'http://placehold.it/1024x768/CA89AA&text=About+Us'}
          %img.item{src: 'http://placehold.it/1024x768/F5F5AA'}
          %img.item{src: 'http://placehold.it/1024x768/89CAA0&text=Getting+Involved'}
          %img.item{src: 'http://placehold.it/1024x768/8996CA&text=Our+Projects'}

    .span3.social
      = render 'shared/like_box'

