.row-fluid
  .span8
    .row-fluid
      .span12
        .hero-unit
          %h1 What is the title you want here?
          %p.caption This is what protsahan does. I know, Aren't we sweet and great!? Now, who wants to join, raise your hands...
          = link_to 'Be the change', page_path('about_us/our-team'), class: %w[btn btn-large btn-primary pull-right]
    .row-fluid
      .pullout-nav.span12
        .pullout-tag{style: "background-color: red"} Volunteer
        .pullout-container
          .pullout-content{style: "background-color: pink"}
            %h1 Test
    .row-fluid
      .pullout-nav.span12
        .pullout-tag{style: "background-color: yellow"} Corporate
    .row-fluid
      .pullout-nav.span12
        .pullout-tag{style: "background-color: blue"}
    .row-fluid
      .pullout-nav.span12
        .pullout-tag{style: "background-color: green"}


