body {
  background: url('../images/background.png');
}
.container {
  background-image: url('../images/paper-bg.jpg');
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #F60;
}

body.home nav .home,
body.mission-and-vision nav .mission-and-vision
{
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration: none;
  background-color: #A5360F;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
