//= require 'bootstrap-image-gallery.min'

.gallery {
  .content img {
    width: 47%;
    margin: 5px;
  }

  .content {
    -webkit-column-gap: 0px;
    -moz-column-gap:    0px;
    column-gap:         0px;
  }
}
