@import 'variables';

body.home {
  &:before {
  }

  .pullout-tag {
    color: white;
  }

  .hero-unit {
    background-color: fade(@black, 15%);
    color: mix(@headingsColor, @white, 20%);
  }

  .donate {
    font-size: 36px;
  }
}

