- content_for :body do
  = render 'shared/navigation', class_name: 'nav-list nav-pullout span6'

  #body= content_for?(:content) ? yield(:content) : yield

  %footer
    %p.pull-center &copy; Protsahan 2012 - Built by #{link_to 'loonyb.in', 'http://loonyb.in'}

= render :template => 'layouts/skeleton'
