- content_for :body do
  %header
    =link_to root_path do
      %h1.offset1
        Protsahan
        %small (n.) Encouragement

    = render 'shared/navigation', class_name: 'nav-list nav-pullout'

  #body= content_for?(:content) ? yield(:content) : yield

  %footer
    %p.pull-center &copy; Protsahan 2012 - Built by #{link_to 'loonyb.in', 'http://loonyb.in'}

= render :template => 'layouts/skeleton'
